<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">


<!--    <property name="SAVE-TO-FILE" value="logging"/>-->
<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <charset>UTF-8</charset>-->
<!--            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <appender name="SAVE-TO-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
               logs/log_%d{dd-MM-yyyy}.log
            </fileNamePattern>
            <maxHistory>100</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>

    </appender>
<!--    <root level="INFO">-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--    </root>-->
    <root level="ERROR">
        <appender-ref ref="SAVE-TO-FILE"/>
    </root>
</configuration>